@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    max-width: 1170px;
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}
li {
    
    padding: 15px;
    margin: 20px;
    border-radius: 10px;
    user-select: none   ;
}
ul{
    width: 550px;
    margin: auto;
    background: burlywood;
    margin: 10px auto;
}